<div class="fl-authentication">
    <div class="fl-authentication-modal">
        <div class="fl-authentication-header">
            <div class="fl-authentication-right">
                <button id="fl-authentication-btn-close" class="fl-authentication-btn-close">&times;</button>
            </div>
        </div>
        <div class="fl-authentication-body">
            <iframe allowfullscreen id="fl-authentication-frame" class="fl-authentication-frame" name="fl-authentication-frame"></iframe>
        </div>

        <div class="fl-authentication-footer"></div>
    </div>
</div>